/* Estilos CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
    background-color: var(--bg-color);
    color: var(--text-color);
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--container-bg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.logo {
    display: block;
    margin: 0 auto 20px auto;
    width: 200px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

label {
    display: block;
    margin-top: 10px;
    text-transform: uppercase;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-transform: uppercase;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    text-transform: uppercase;
}

button:hover {
    background-color: #218838;
}

.atendimento {
    margin-top: 20px;
    padding: 10px;
    background-color: var(--result-bg);
    border: 1px solid #ddd;
    border-radius: 4px;
}

.report-section {
    margin-top: 20px;
    padding: 10px;
    background-color: var(--result-bg);
    border-radius: 4px;
    border: 1px solid #ddd;
}

:root {
    --bg-color: #f4f4f4;
    --text-color: #333;
    --container-bg: #fff;
    --result-bg: #f8f9fa;
}

body.dark {
    --bg-color: #121212;
    --text-color: #e0e0e0;
    --container-bg: #333;
    --result-bg: #444;
}

button#theme-toggle {
    margin-top: 10px;
}
